@model IEnumerable<OktaAPIShared.Models.Customer>

@{
    ViewBag.Title = "Users";
}

<div class="jumbotron">
    
    @if (ViewBag.Message != null)
    {
        <p class="alert-success">@ViewBag.Message</p>
    }

    <h2>@ViewBag.Title</h2>
    <p>
        &nbsp;
    </p>
    @if (Model.Any())
    {
        <table class="table table-condensed">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
            @foreach (var s in Model.Where(t => t.Profile != null))
            {
                <tr>
                    <td>@s.Profile.FirstName</td>
                    <td>@s.Profile.LastName</td>
                    <td>@s.Profile.Email</td>
                </tr>
            }
        </table>
    }
    @Html.ActionLink("Register a new user", "Register", "Registration")
</div>
